* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #ffffff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.bg {
    position: fixed;
    z-index: -3;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    opacity: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00c4ff;
}

.logo img{
    width: 7rem;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #00c4ff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}